.container {
    width: 100%;
  }
  .articles {
    margin: 50px;
  }
  .article {
    margin: 5px;
    display: inline-block;
    width: 340px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  }
  .article-image {
    width: 100%;
  }
  .article-text-wrapper {
    padding: 20px;
  }
  .article-font-description {
    font-weight: 300;
  }